

*{
    box-sizing: border-box;
}  

body {
    min-height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    background-image: linear-gradient(#181316, #3d3a3a);
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.forms-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: darkcyan;
}

.section-title {
    font-size: 25px;
    letter-spacing: 1px;
    color: #bc950b;
    background-color: transparent;
    text-align: center;
    font-family: 'Short Stack', cursive;
    font-weight: 900;
    text-shadow: 2px 2px 1px black;
}

.forms {
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.form-wrapper {
    animation: hideLayer .3s ease-out forwards;
    width: 100%;
}

.form-wrapper.is-active {
    animation: showLayer .3s ease-in forwards;
}

@keyframes showLayer {
    50% {
        z-index: 1;
    }
    100% {
        z-index: 1;
    }
}

@keyframes hideLayer {
    0% {
        z-index: 1;
    }
    49.999% {
        z-index: 1;
    }
}

.switcher {
    position: relative;
    cursor: pointer;
    display: flex;
    margin-left: 50px;
    font-size: 1.2rem;
    font-weight: 900;
    color: rgb(9, 187, 187);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 2%;
    box-shadow: 2px 2px 1px #111111;
    text-shadow: 2px 2px 1px #111111;
    background-color: rgb(58, 55, 55);;
}

/*.underline {
    position: absolute;
    bottom: -5px;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 2px;
}

.underline::before {
    content: '';
    position: absolute;
    top: 0;
    left: inherit;
    display: block;
    width: inherit;
    height: inherit;
    background-color: currentColor;
    transition: transform .2s ease-out;
}

.switcher-login .underline::before {
    transform: translateX(101%);
}

.switcher-signup .underline::before {
    transform: translateX(-101%);
}

.form-wrapper.is-active .underline::before {
    transform: translateX(0);
}*/

.form {
    transform-origin: top;
    overflow: hidden;
    width: 100%;
    margin-top: 100px;
    padding: 20px 15px;
    border-radius: 5px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

.form-message{
    color: whitesmoke;
    font-weight: 600;
}

.form-message span{
color: #bc950b;
font-weight: 100;
font-style: italic;
}


@keyframes showLogin {
    0% {
        background: #323333;
        transform: translate(40%, 10px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background-color: #323333;
        transform: translate(35%, -20px);
    }
}

@keyframes hideLogin {
    0% {
        background-color: #323333;
        transform: translate(40%, -20px);
    }
    50% {
        transform: translate(0, 0);
    }
    100% {
        background: #323333;
        transform: translate(35%, 25px);
    }
}

.form-login {
    animation: hideLogin .3s ease-out forwards;
}

.form-wrapper.is-active .form-login {
    animation: showLogin .3s ease-in forwards;
}

@keyframes showSignup {
    0% {
        background: #323333;
        transform: translate(-40%, 10px) scaleY(.8);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background-color: #323333;
        transform: translate(-42.5%, -50px) scaleY(.9);
    }
}

@keyframes hideSignup {
    0% {
        background-color: #323333;
        transform: translate(-35%, -20px) scaleY(1);
    }
    50% {
        transform: translate(0, 0) scaleY(.8);
    }
    100% {
        background: #323333;
        transform: translate(-42.5%, 0px) scaleY(.8);
    }
}

.form-signup {
    animation: hideSignup .3s ease-out forwards;
}

.form-wrapper.is-active .form-signup {
    animation: showSignup .3s ease-in forwards;
}

.form fieldset {
    position: relative;
    opacity: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: all .3s ease-out;
}

.form-login fieldset {
    transform: translateX(-50%);
}

.form-signup fieldset {
    transform: translateX(50%);
}

.form-wrapper.is-active fieldset {
    opacity: 1;
    transform: translateX(0);
    transition: opacity .4s ease-in, transform .35s ease-in;
}

.form legend {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.input-block {
    width: 100%;
    margin-bottom: 20px;
    background-color: darkcyan;
    padding-left: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 1px rgb(66, 63, 63), -2px -2px 1px rgb(82, 79, 79);
}

.input-block label {
    color: whitesmoke;
    font-weight: 500;
}

.input-block input {
    display: block;
    width: 95%;
    margin-top: 4px;
    margin-left: 5%;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 40px;
    border: none;
    border: 1px solid #6f7272;
    border-radius: 5%;
    color: whitesmoke;
    background-color: #323333;
}

.form [type='submit'] {
    opacity: 0;
    display: block;
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: 5px solid darkcyan;
    transition: all .3s ease-out;
    text-shadow: .5px .5px 1.5px black, -.5px -.5px 1.5px black;
}

.form-wrapper.is-active .form [type='submit'] {
    opacity: 1;
    transform: translateX(0);
    transition: all .4s ease-in;
}

.btn-login {
    color: darkcyan;
    border: 2px solid darkcyan;
    transform: translateX(-30%);
    background-color: white;
}

.btn-signup {
    color: darkcyan;
    border: 2px solid darkcyan;
    transform: translateX(30%);
    background-color: white;
    text-shadow: .5px .5px 0px black;
}

